@font-face {
    font-family: vazirNormal;
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff'), url('../fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
body{
    font-family: vazirNormal;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.search-icon{
    height: 50px;
    width: 54px;
    border-radius: 50%;
    border: 3px solid #ccc;
}
    .search-icon img{
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
    margin-top: 6px;
}

/* .btn-about {
    padding: 10px 45px 10px 45px !important;
} */
.navbar-light .navbar-toggler{
    background-color: rgb(56, 56, 56);
    border-radius: 0;
    margin-right: 12px;
}

.btn-container{
    cursor: pointer;   
}

.change .bar2{
    opacity: 0;
}
.change .bar1{
    transform: rotate(-45deg) translate(-6px , 6px);
}
.change .bar3{ 
    transform: rotate(45deg) translate(-6px , -7px);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.bar1 , .bar2 , .bar3{
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.5s ease;
}
/* slider */
    .slider-back-img{
    position: absolute;
    width: 196px;
    bottom: 47px;
    left: -59px;
    }

.slider-back-img img{
    width: 100%;
}

.slider-back-text{  
    width: 450px;
    position: absolute;
    bottom: 145px;
    left: -163px;
}
.slider-back-text p{
    font-size: 28px;
}
@media (min-width: 1400px){
    .navbar{
        justify-content: space-evenly !important;
    }
    .header{
        font-size: 13px; 
        color: #fff;
        
    }
    .header-icon{
        font-size: 12px;
    }
    .ul-collapse{
        flex-grow: 0;
        font-size: 20px;
    }
    .btn-about {
        padding: 10px 45px 10px 45px !important;
   
    }
    .search-icon {
        position: absolute;
        left: 11px;
    }
    /* slider */
    .carousel-item{
        height: 640px;
    }
    .slider-back-img {
        position: absolute;
        width: 303px;
        bottom: 104px;
        left: -97px;
    }
}
@media (max-width: 1400px){
    .navbar{
        justify-content: space-evenly !important;
    }
    .header{
        font-size: 13px; 
        color: #fff;
        
    }
    .header-icon{
        font-size: 12px;
    }
    .ul-collapse{
        flex-grow: 0;
        font-size: 20px;
    }
    .btn-about {
        padding: 9px 25px!important;
    }
    .ul-collapse{
        flex-grow: 0;
        font-size: 20px;
        margin-left: 44px;
    }
    .search-icon {
        position: absolute;
        left: 11px;
    }
    /* slider */
    .carousel-item{
        height: 525px;
    }
    
}
@media (max-width: 1199px){
    .navbar{
        justify-content: center !important;
    }
    .header{
        font-size: 16px; 
        color: #fff;
    }
    .header-icon{
        font-size: 18px;
    }
    .header img{
        width: 18px;
    }
    .ul-collapse{
        flex-grow: 0;
        font-size: 17px;
        margin-left: 44px;
    }
    .navbar-brand img {
        width: 140px;
    }
    .btn-about {
        padding: 9px 25px!important;
    }
    .search-icon {
        position: absolute;
        height: 46px;
        width: 45px;
        border-radius: 50%;
        border: 3px solid #ccc;
        left: -3px;
    }
    .search-icon img {
        width: 26px;
        height: 28px;
        margin: auto;
        display: block;
        margin-top: 6px;
    }
     /* slider */
     .carousel-item{
        height: 400px;
    }
    
}
@media (max-width: 991px){
    .header{
        font-size: 14px; 
        color: #fff;
    }
    .header-icon{
        font-size: 15px;
    }
    .ul-collapse{
        flex-grow: 0;
        font-size: 14px;
    }
    .navbar-brand img {
        width: 140px;
    }
    .search-icon {
        position: absolute;
        height: 46px;
        width: 45px;
        border-radius: 50%;
        border: 3px solid #ccc;
        /* left: 67px; */
        top: 8px;
    }
    .navbar-toggler{
        position: absolute;
        top: 13px;
        left: 70px;
    }
    .navbar-brand{
        margin-right: 0 !important;
    }
     /* slider */
     .carousel-item{
        height: 380px;
    }
    
}
@media (max-width: 768px){
    .header{
        font-size: 10px; 
        color: #fff;
    }
    .header-icon{
        font-size: 10px;
    }
    .header img{
        width: 13px;
    }
    .navbar-brand img {
        width: 140px;
    }
    .search-icon {
        position: absolute;
        height: 46px;
        width: 45px;
        border-radius: 50%;
        border: 3px solid #ccc;
        /* left: 67px; */
        top: 8px;
    }
    .search-icon img {
        width: 23px;
        height: 25px;
        margin: auto;
        display: block;
        margin-top: 6px;
    }
      /* slider */
      .carousel-item{
        height: 335px;
    }
    
   
}
@media (max-width: 576px){
    .header{
        font-size: 10px; 
        color: #fff;
    }
    .header-icon{
        font-size: 10px;
    }
    .header img{
        width: 10px;
    }
    .navbar-brand{
        margin-left: 17px !important;
    }
    .navbar-brand img {
        width: 113px;
    }
    .search-icon {
        position: absolute;
        height: 46px;
        width: 45px;
        border-radius: 50%;
        border: 3px solid #ccc;
        right: 15px;
        top: 6px;
    }
    .navbar-toggler {
        position: absolute;
        top: 7px;
        left: 14px;
    }
      /* slider */
      .carousel-item{
        height: 200px;
    }
    
}
